<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stream - <%= channel %> - Galeria fotos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery-bundle.min.css" integrity="sha512-nUqPe0+ak577sKSMThGcKJauRI7ENhKC2FQAOOmdyCYSrUh0GnwLsZNYqwilpMmplN+3nO3zso8CWUgu33BDag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .capitalize {
            text-transform: capitalize;
        }
    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha512-VBbe8aA3uiK90EUKJnZ4iEs0lKXRhzaAXL8CIHWYReUwULzxkOSxlNixn41OLdX0R1KNP23/s76YPyeRhE6P+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.min.js" integrity="sha512-BLW2Jrofiqm6m7JhkQDIh2olT0EBI58+hIL/AXWvo8gOXKmsNlU6myJyEkTy6rOAAZjn0032FRk8sl9RgXPYIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/hash/lg-hash.min.js" integrity="sha512-7c9ZgozFwxmWalyapzhmzAChRvi0p7vhxWdrE3OjvFHnxuw6h6DBSOvtO1XytEj8MQI2Jp0Tm2BJwLUU7zAMvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<h4>Stream actual - <a href="https://twitch.tv/<%= channel %>" target="_blank"><%= channel %></a></h4>
<span></span>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><strong>Fotos stream</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="bans">Bans</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="timeouts">Timeouts</a>
    </li>
</ul>
<h5><p><em><%= title %></em></p></h5>
<div id="lightgallery">
    <% screenshots.forEach(function(screenshot) { %>
        <a href="<%= url + '/img/' + screenshot.name %>" data-sub-html="<h4>Captura de - <%= screenshot.capturedBy %></h4> <p class='capitalize' > Fecha -  <%= moment(screenshot.created).tz('Europe/Madrid').locale('es').format('LLLL') %></p>" data-lg-size="1340-754" data-slide-name="<%= screenshot.name %>">
            <img src="<%= url + '/img/t_' + screenshot.name %>"  alt="<%= screenshot.name %>" width="200" >
        </a>
    <% }); %>
</div>
<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        plugins: [lgThumbnail, lgHash, lgZoom],
        zoomFromOrigin: true,
        thumbnail: true,
        hash: true,
        customSlideName: true,
        galleryId: 1,
        speed: 500
    });
</script>
</body>
</html>
